h1 {text-align: center}
body {
  background-image: url("photo/background.jpg");
}
h3 {
	color:#1381b6;
	text-decoration: underline;
}

#introduction {
  text-transform: capitalize;
}

.small-headers {
	text-indent: 20px;
}

a:link {color: #1381b6}
a:active {color: #ff0000}
a:hover{color: #90EE90}